.countries{display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-row-gap: 20px;
   grid-column-gap: 20px;

}
.country{
   border:3px solid gold;
   border-radius: 20px;
   padding: 20px;
   background-color: lightgoldenrodyellow;

}

.country img{
   width:200px;
}